{% extends "base.html" %}
{% block stylesheet %}
<style>
    table.dataTable td {
        font-size: 13px;
    }
    th { font-size: 13px; }
</style>
{% endblock %}

{% block content %}

    <!-- 编辑弹窗 -->
    <div id="editModal" class="modal fade" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="formTitle" class="modal-title">编辑记录</h5>
                </div>
                <div class="modal-body">        
                    <form id="editForm" >
                        <input type="hidden" name="id" id="id">
                        <div>
                            <label class="col-form-label">种子名称的 正则特征:</label>
                            <input type="text" id="torname_regex" name="torname_regex" required class="form-control">
                        </div>
                        <div>
                            <label class="col-form-label">对应的 媒体名称:</label>
                            <input type="text" id="tmdb_title" name="tmdb_title" required class="form-control">
                        </div>
                        <div>
                            <label class="col-form-label">分类:</label>
                            <select id="tmdb_cat" name="tmdb_cat" required class="form-select">
                                <option value="movie">movie</option>
                                <option value="tv">tv</option>
                            </select>
                        </div>
                        <div>
                            <label class="col-form-label">TMDB ID:</label>
                            <input type="number" id="tmdb_id" name="tmdb_id" required class="form-control">
                        </div>
                        <div>
                            <label class="col-form-label">年份:</label>
                            <input type="number" id="year" name="year" required class="form-control">
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" onclick="closeEditModal()" class="btn btn-secondary">
                        取消
                    </button>
                    <button type="submit" id="submitButton" class="btn btn-primary" >
                        保存
                    </button>
                </div>
            </div>

        </div>
    </div>


    <div class="table-responsive my-2 mx-1">

        <table id="data" class="display table-striped order-column" style="width:100%">
          <thead>
            <tr>
              <th></th>
              <th>媒体名称</th>
              <th>正则规则</th>
              <th>种子名称</th>
              <th>加入时间</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      
      
    </div>
    <div class="d-flex justify-content-end  mt-3">
        <div class="btn-group" role="group " aria-label="select operation">
          <button id="addbtn" type="button" class="btn btn-warning mx-1 btn-sm">新增记录</button>
        </div>
      </div>
{% endblock %} 

{% block script %}
<script>

    var theDataTable;

    // 打开编辑弹窗
    function editRecord(ele, id) {
        var tr_el = ele.closest('tr');
        var row = theDataTable.row(tr_el);
        var record = row.data();

        $("#id").val(record.id)
        $("#torname_regex").val(record.torname_regex)
        $("#tmdb_title").val(record.tmdb_title)
        $("#tmdb_cat").val(record.tmdb_cat)
        $("#tmdb_id").val(record.tmdb_id)
        $("#year").val(record.year)

        // 显示弹窗
        $("#editModal").modal('show');
    }

    // 关闭编辑弹窗
    function closeEditModal() {
        $("#editModal").modal('hide');
    }

    $("#addbtn").click(function(){
        $("#formTitle").val('新增记录')
        $("#torname_regex").val('')
        $("#tmdb_title").val('')
        $("#tmdb_cat").val('movie')
        $("#tmdb_id").val('')
        $("#year").val(0)
        // 显示弹窗
        $("#editModal").modal('show');
    });    

    $("#submitButton").click(function(){
        const form = document.getElementById('editForm');        
        var recordId =  $("#id").val();
        var requestData = {
            torname_regex:  $("#torname_regex").val(),
            tmdb_title: $("#tmdb_title").val(),
            tmdb_cat: $("#tmdb_cat").val(),
            tmdb_id: $("#tmdb_id").val(),
            year: $("#year").val(),
        };

        if (recordId) {
            // 使用 Fetch API 发送 PUT 请求
            fetch(`/api/records/${recordId}`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(requestData)
            })
            .then(response => response.json())
            .then(data => {
                // alert("数据更新成功!");
                $('#data').DataTable().ajax.reload();
                // closeEditModal();
                $('#editModal').modal('hide');  // 关闭 Modal
            })
            .catch(error => {
                alert("数据更新失败: " + error);
            });
        } else {
            fetch(`/api/records`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(requestData)
            })
            .then(response => response.json())
            .then(data => {
                $('#data').DataTable().ajax.reload();
                $('#editModal').modal('hide');  // 关闭 Modal
            })
            .catch(error => {
                alert("数据更新失败: " + error);
            });
        }
    });    


    // 删除记录
    async function deleteRecord(ele, id) {
        if (!confirm('确定要删除这条记录吗？')) {
            return;
        }
        
        try {
            const response = await fetch(`/api/records/${id}`, {
                method: 'DELETE',
            });
            
            const result = await response.json();
            if (result.success) {
                // alert('删除成功');
                $('#data').DataTable().ajax.reload();
            } else {
                alert('删除失败：' + result.message);
            }
        } catch (error) {
            alert('删除失败：' + error);
        }
    }

    function convertToLinks(input) {
        // 将输入字符串按逗号分隔为多个部分
        const items = input.split(',').map(item => item.trim());
        let result = '';
        
        items.forEach(item => {
            // 使用正则表达式分隔每一组数据（根据 | 分隔）
            const parts = item.split('|');
            if (parts.length === 2) {
                const text = parts[0].trim();  // 提取文本部分
                const link = parts[1].trim();  // 提取链接部分
                
                // 构造 HTML 链接
                result += `<a href="${link}">${text}</a><br>`;
            }
        });
        return result;
    }


$(document).ready(function () {
    theDataTable = $('#data').DataTable({
      language: DATATABLE_LANG,
      "pageLength": 50,
      autoWidth: false,
      scrollX: true,
      full_row_select: false,
      ajax: '/api/mediadata',
      serverSide: true,
      order: [[0, 'desc']],
      columns: [
      {
          data: 'tmdbcat',
          "width": "5%",
          "render": function (data, type, row, meta) {
            // console.log(row.tmdbposter);
            if (row.poster_path) {
              var s = row.tmdb_cat + '-' + row.tmdb_id;
              return '<a class="preview" title='+row.media_name+' href="https://image.tmdb.org/t/p/w200' + row.poster_path + '" target="_blank"><img src="https://image.tmdb.org/t/p/w45' + row.poster_path + '"></a>';
            }
            else return ''
          }

        },
        {
            data: 'tmdb_title',
            "width": "35%",
            "render": function (data, type, row, meta) {
              var tmdb_link = row.tmdb_cat + '/' + row.tmdb_id;
              var tmdb_title = (row.tmdb_title) ? row.tmdb_title : tmdb_link;
              var tmdb_line = row.tmdb_id ? '<a href="https://www.themoviedb.org/' + tmdb_link + '" target="_blank">' + tmdb_title + '</a>' : tmdb_title;
              var genre = '<span class="sub-title">' + row.genre_str + '</span>'
              var tmdbcat = row.tmdb_cat == 'tv' ? '<span class="tag-tv ">'+row.tmdb_cat+'</span>' : '<span class="tag-movie">'+row.tmdb_cat+'</span>';
              var overview = row.overview ? '<span class="sub-title">' + row.overview + '</span>' : '';
              return tmdb_line + genre + '<br>' + tmdbcat +  overview;
            }
        },
        {
            data: 'torname_regex',
            "width": "15%",
            "render": function (data, type, row, meta) {
                if (row.tmdb_cat == 'movie') {
                    return row.torname_regex + '<br>' + row.year
                }
                else return row.torname_regex
            }
        },
        {
            data: 'torname',
            "width": "30%",
            "render": function (data, type, row, meta) {
                if (row.torname) {
                    var r = convertToLinks(row.torname);
                    return r
                }
            }
        },
        {
          data: 'created_at',
          "width": "8%",
          "render": function (data) {
            // https://stackoverflow.com/questions/8362952/javascript-output-current-datetime-in-yyyy-mm-dd-hhmsec-format
            var date = new Date(data);
            return date.toISOString().slice(0, 19).replace(/-/g, "/").replace("T", " ");
          }
        },
        {
          "width": "12%",
          "render": function (data, type, row) {
            // var linkDelete = '<a href="/mediadel/' + row.id + '">删除</a>';
            var linkDelete = '<a href="#" onclick="deleteRecord(this, \'' + row.id + '\');return false;">' + '删除' + '</a>';
            var linkEdit = '<a href="#" onclick="editRecord(this, \'' + row.id + '\');return false;">' + '修正' + '</a>';
            return linkEdit + " | " + linkDelete;
          },
        },
      ],
    });


});

</script>
{% endblock %}